@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <!-- title -->
    <h1 class="display-4">My Hobby: Gym</h1>

    <!-- images -->
    <div class="image-container">
        <img src="~/img/benchpress.jpg" class="hobby-image" alt="Bench Press Image" />
        <img src="~/img/dumbell.jpg" class="hobby-image" alt="Dumbbell Image" />
    </div>

    <!-- intro -->
    <div class="content">
        <h2>Introduction</h2>
        <p>
            I have been going to the gym for a while.
            The gym is a multifaceted haven that transcends
            mere physical exercise, offering a plethora of benefits
            that enrich people's lives on various levels. Primarily,
            it serves as a bastion of physical health, fostering
            cardiovascular strength, muscular endurance, and flexibility.
            By engaging in regular exercise, individuals combat lifestyle-related
            ailments such as obesity, diabetes, and heart conditions,
            while also releasing endorphins that alleviate stress and
            elevate mood, promoting an overall sense of well-being.
        </p>
    </div>

    <!-- paragraph 1 -->
    <div class="content">
        <h2>Physical Benefits</h2>
        <p>
            Beyond its physical benefits, the gym provides a sanctuary for mental health.
            Amidst the demands of daily life, it offers a designated space for
            individuals to detach from stressors and focus on self-improvement.
            Whether through cardio workouts, weightlifting sessions, or group fitness
            classes, the gym serves as an outlet for releasing tension and clearing
            the mind. Moreover, exercise enhances cognitive function, sharpening
            focus and memory, which can translate into increased productivity and
            mental clarity outside the gym environment.
        </p>
    </div>

    <!-- paragraph 2 -->
    <div class="content">
        <h2>Mental Benefits</h2>
        <p>
            Beyond its physical benefits, the gym provides a sanctuary for mental health.
            Amidst the demands of daily life, it offers a designated space for
            individuals to detach from stressors and focus on self-improvement.
            Whether through cardio workouts, weightlifting sessions, or group
            fitness classes, the gym serves as an outlet for releasing tension
            and clearing the mind. Moreover, exercise enhances cognitive function,
            sharpening focus and memory, which can translate into increased productivity
            and mental clarity outside the gym environment.
        </p>
    </div>
</div>

